{% extends 'base.html.twig' %}

{% block title %}{{ 'Food Sharing - maisto dalijimosi platforma'}}{% endblock %}

{% block body %}

    <div class="container">
        <div id="centerAlignedContainer">
            <div class="" id="centerAligned">
            <h1 class="display-4 text-center mb-4">Sveiki atvykę į maisto dalijimosi svetainę</h1>
            <p class="lead text-center" ><em>Turite per daug maisto šaldytuve ir išvykstate atostogų - pasidalinkite juo! Nešvaistykime maisto. </em></p>
            <hr class="my-4">
            <p class="lead text-center">
                <a class="btn btn-primary" href="{{ path('product_new') }}" role="button">Pasiūlykite maisto</a>
                <a class="btn btn-primary" href="{{ path('product_index') }}" role="button">Gaukite maisto</a>
                <div class=" text-center">
                <a class="btn btn-success my-3" href= "#foodWasting" role="button">Daugiau informacijos apie maisto švaistymą</a>
                </div>
            </p>
            <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row split-colored-background">
            <div class="col-md-6 p-5 my-auto text-center">
                <h4 class="font-weight-bold">Kasmet vien tik Europos Sąjungoje išmetama 88 mln. tonų maisto arba 173 kg vidutiniškai bienam gyventojui!  </h4>
            </div>
            <div class="col-md-6">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('build/homePage/weight.png') }}" class="img-fluid " style="max-height: 300px" >
                </div>
            </div>
        </div>
        <div class="row white-background">
            <div class="col-md-6 p-5 text-center">
                <img src="{{ asset('build/homePage/weight2.jpg') }}" class="img-fluid" style="max-height: 250px" >
            </div>
            <div class="col-md-6 p-5 my-auto text-center">
                <h4 class="font-weight-bold">Kasmet į orą išmetama 170 mln tonų CO2 dėl gamybos ir maisto atliekų šalinimo. </h4>
            </div>
        </div>
        <div class="row split-colored-background">
            <div class="col-md-6 p-5 my-auto text-center">
                <h4 class="font-weight-bold">Žyma "Geriausias iki..." reiškia, kad iki nurodytos datos maisto produktas išlieka pageidaujamos kokybės.
                53% vartotojų nesupranta šio ženklinimo reikšmės. </h4>
            </div>
            <div class="col-md-6">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <img src="{{ asset('build/homePage/53procent.png') }}" class="img-fluid " style="max-height: 300px" >
                </div>
            </div>
        </div>
        <div class="row white-background">
            <div class="col-md-6 p-5 text-center">
                <img src="{{ asset('build/homePage/60 procent.jpg') }}" class="img-fluid" style="max-height: 300px" >
            </div>
            <div class="col-md-6 p-5 my-auto text-center">
                <h4 class="font-weight-bold">"Suvartoti iki..." reiškia, kad iki nurodytos datos maisto produktą vartoti saugu.
                60 % vartotojų nesupranta "Suvartoti iki..." reikšmės.</h4>
            </div>
        </div>
        <div class="row split-colored-background justify-content-center">
            <div class="col-md-6 p-5 my-auto text-center">
                <h4 class="font-weight-bold"> Maistas švaistomas nuo žemės ūkio iki namų ūkių. Daugiausiai jo, net 53% išsvaisto namų ūkiai, t.y. mes! </h4>
            </div>
        </div>
    </div>

{% endblock %}

