{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="login">
            <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Vartotojo vardas'}}) }}
                {{ form_row(registrationForm.plainPassword,  {'attr': {'class': 'form-control', 'placeholder': 'Slaptažodis'}}) }}
                {{ form_row(registrationForm.email,  {'attr': {'class': 'form-control', 'placeholder': 'El.paštas'}}) }}
                <div class="reg-btn">
                    <button class="call-to-btn">Registruotis</button> <a href="{{ path('home') }}">Atšaukti</a>
                </div>
                {{ form_errors(registrationForm.agreeTerms) }}
                {{ form_widget(registrationForm.agreeTerms) }}
            <label for="registration_form_agreeTerms">Sutikti su taisyklėmis</label>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
