<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-brand">
            <a href="/"><img class="logo" src="https://s3.eu-north-1.amazonaws.com/food-sharing/media/food_sharing_logo.png" alt="Logotipas" /></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto header-menu">
                    <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Pradžia</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('product_index') }}">Produktai</a></li>
                    {% if app.user.username is defined %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('product_new') }}">Produktų įkėlimas </a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Atsijungti</a></li>
                        <li><a class="nav-link header-user" href="{{ path('user_show', {id: app.user.id})  }}">
                                <span>{{ app.user }}</span>
                                {% if app.user.avatar is not null %}
                                    <img class="product-avatar" src=" {{('/images/avatars/' ~app.user.avatar )}}" width="44" title="{{ app.user.username }}">
                                {% else %}
                                    <img class="no-avatar" src="https://s3.eu-north-1.amazonaws.com/food-sharing/media/avataras.png" width="44" title="{{ app.user.username }}" alt="Avataras" width="44">
                                {% endif %}
                                </a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Prisijungti</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Registruotis</a></li>
                    {% endif %}

                </ul>
            </div>

    </nav>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success text-center">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger text-center">
            {{ msg }}
        </div>
    {% endfor %}
</div>