
{{ form_start(form) }}

<div class="row justify-content-center form-block">
    <div class="col-md-5 text-left">
        <span>{{ form_row(form.title, {'attr': {'class': 'form-control form-space'}}) }}</span>
        <span>{{ form_row(form.description, {'attr': {'class': 'form-control form-space'}}) }}</span>
        <span>{{ form_row(form.deadline, {'attr': {'class': 'form-control form-space datetimepicker', 'autocomplete': 'off'}}) }}</span>
        <span>{{ form_row(form.pictureFile, {'attr': {'class': 'form-control form-space'}}) }}</span>
        <span>{{ form_row(form.status, {'attr': {'class': ' form-space'}}) }}</span>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        <span class="mt-3"><a class="cancel-txt btn btn-danger" href="{{ path('user_show', {id: app.user.id}) }}">Grįžti</a></span>
    </div>
</div>

<script>
    $('#product_pictureFile_file').on('change',function(){
        var fileName = document.getElementById('product_pictureFile_file').files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    })
</script>

{{ form_end(form) }}


