{{ form_start(form,{action:path('user_password', {id: app.user.id})}) }}

<div class="row justify-content-center form-block">
    <div class="col-lg-6 col-md-8">
            <div class="form-padding-right">
                <div class="form-group">
                    <span class="form-label">{{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Įveskite seną slaptažodį'}}) }}</span>
                </div>
            </div>
            <div class="form-padding-right">
                <div class="form-group">
                    <span class="">{{ form_row(form.newPassword.first,  {'attr': {'class': 'form-control', 'placeholder': 'Įveskite naują slaptažodį'}}) }}</span>
                </div>
            </div>
            <div class="form-padding-right">
                <div class="form-group">
                    <span class="">{{form_row(form.newPassword.second,  {'attr': {'class': 'form-control', 'placeholder': 'Pakartokite naują slaptažodį'}}) }}</span>
                </div>
            </div>
        <div class="row justify-content-center">
            <div class="col-md-6 form-padding-right justify">
                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            </div>
            <div class="col-md-6 form-padding-right">
                <button class="btn btn-warning"><a href="{{ path('user_show', {id: app.user.id})  }}">Grįžti</a></button>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}