{{ form_start(form,{action:path('user_password', {id: app.user.id})}) }}
    {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Įveskite seną slaptažodį'}}) }}
    {{ form_row(form.newPassword.first,  {'attr': {'class': 'form-control', 'placeholder': 'Įveskite naują slaptažodį'}}) }}
    {{ form_row(form.newPassword.second,  {'attr': {'class': 'form-control', 'placeholder': 'Pakartokite naują slaptažodį'}}) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
