{{ form_start(form,{action:path('user_edit', {id: app.user.id})}) }}

    <div class="row justify-content-center form-block">
        <div class="col-md-5 text-left">
            <span>{{ form_row(form.firstName, {'attr': {'class': 'form-control form-space'}}) }}</span>
            <span>{{ form_row(form.lastName, {'attr': {'class': 'form-control form-space'}}) }}</span>
            <span>{{ form_row(form.email, {'attr': {'class': 'form-control form-space'}}) }}</span>
            <span>{{ form_row(form.avatarFile, {'attr': {'class': 'form-control form-space'}}) }}</span>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            <span class="mt-3"><a class="cancel-txt btn btn-danger" href="{{ path('user_show', {id: app.user.id}) }}">Grįžti</a></span>
        </div>
    </div>

    <script>
        $('#user_avatarFile_file').on('change',function(){
            var fileName = document.getElementById('user_avatarFile_file').files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>

    {{ form_widget(form)}}
{{ form_end(form) }}