{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>

        <tr>
            <th>FirstName</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Avatar</th>
            {% if user.avatar is not null %}
                <td><img src="{{ (vich_uploader_asset(user, 'avatarFile'))|imagine_filter("square") }}">
            {% else %}
                <td>Nepasirinktas paveikslėlis</td>
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>


        </tbody>
    </table>
    <table>
        <h2>Produktai</h2>
        <tbody>
        {% for product in user.products %}

            <tr>
                <th>Produkto pavadinimas</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Produkto aprasymas</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Produkto nuotrauka</th>
                <td><img src="{{ (vich_uploader_asset(product, 'pictureFile'))|imagine_filter("square") }}" width="200"
                         height="200"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
