{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username}} profilis{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Vartotojo {{ app.user.username}} informacija</h1>
        </div>
        <div class="row h-100 profile-box">
            <div class="col-2 my-auto">
                {% if user.avatar is not null %}
                <img class="product-avatar-profile" src=" {{('/images/avatars/' ~user.avatar )  }}"
                        width="78" height="78"
                        alt="Avataras">
                        {#<td><img src="{{ (vich_uploader_asset(avatar, 'avatarFile'))}}"#}
                        {#alt="Avatar"></td>#}
                {% else %}
                        <img class="no-avatar" src="https://s3.eu-north-1.amazonaws.com/food-sharing/media/avataras.png" alt="Avataras">
                {% endif %}
            </div>
            <div class="col-3 my-auto">
                {{ user.firstName }} {{ user.lastName }}
            </div>
            <div class="col-3 my-auto">
                {{ user.email }}
            </div>
            <div class="col-4 my-auto profile-btn-block">
                <a class="mx-2" href="{{ path('location_edit', {'id': user.location.id}) }}">
                    <i class="fas fa-map-marked fa-2x"
                    {% if user.location %}
                       title="Redaguoti vietą">
                    {% else %}
                       title="Nustatyti savo vietą">
                    {% endif %}
                    </i>
                </a>
                <a class="mx-2" href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit fa-2x" title="Redaguoti vartotojo duomenis"></i></a>
                <a class="mx-2" href="{{ path('user_password', {'id': user.id}) }}"><i class="fas fa-key fa-2x" title="Keisti slaptažodį"></i></a>
            </div>
        </div>

        <div class="row user-profile-head-title">
            <h2>Mano produktai</h2>
        </div>

        {% for product in user.products %}
            <div class="row user-products-list">
                <div class="col-md-3 my-auto">
                    {% if product.picture is not null %}
                        <img class="user-profile-list-picture" src="{{ (vich_uploader_asset(product, 'pictureFile'))|imagine_filter("small") }}"
                                 alt="Food picture">
                    {% else %}
                        <img class="product-list-img" src="{{ (asset('build/products/product_image.png'))|imagine_filter("small") }}" alt="Nėra produkto nuotraukos">
                    {% endif %}
                </div>
                <div class="col-md-4 my-auto">
                    <div>
                        <h4>{{ product.title }}</h4>
                    </div>
                    <div>
                        {{ product.description }}
                    </div>
                </div>
                <div class="col-md-3 my-auto">
                    <div>
                        <i class="fas fa-clock" title="Atsiimti iki"></i> {{ product.deadline ? product.deadline|date('Y-m-d H:i:s') : '' }}
                    </div>
                    <div>
                        {{ product.status ? '<i class="fas fa-eye"></i> Skelbimas rodomas ' : '<i class="fas fa-eye-slash"></i> Skelbimas paslėptas ' }}
                    </div>
                </div>
                <div class="col-md-2 my-auto">
                    <div class="profile-btn-margin">
                        <a href="{{ path('product_edit', {'id': product.id}) }}"><i class="fas fa-edit fa-2x" title="Redaguoti produktą"></i></a>
                    </div>
                    <div class="profile-btn-margin">
                        <a href="{{ path('product_give', {'id': product.id}) }}">
                            {% if product.givenAway %}
                                <i class="fas fa-undo-alt fa-2x" title="Atšaukti atidavimo veiksmą"></i>
                            {% else %}
                                <i class="fas fa-handshake fa-2x" title="Pakeisti būseną į atiduotas"></i>
                            {% endif %}
                        </a>
                    </div>
                    <div class="profile-btn-margin">
                        {{ include('product/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>

        {% endfor %}

{#                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                    <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                    <td>{{ product.user.username }}</td>#}
{#                    <td>{{ product.user.email }}</td>#}

    </div>
{% endblock %}
